@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@300;

400;500;600 & display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

*::-moz-selection {
  background: #08592E;
}

*::selection {
  background: #08592E;
}

.hello-en {
  font-size: 8em;
  color: #08592E;
  position: relative;
  top: 200px;
}

.header-content {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.hello-ru {
  font-size: 8em;
  color: #08592E;
  position: relative;
  top: 250px;
  z-index: 1;
}

.hello-en,
.hello-ru {
  -webkit-animation: animBlock 0.9s;
          animation: animBlock 0.9s;
}

.link-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  top: -305;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #08592E;
}

.circle-shadow {
  -webkit-animation: pulse 0.9s infinite;
          animation: pulse 0.9s infinite;
  position: relative;
  top: 0;
}

.header-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@-webkit-keyframes animBlock {
  from {
    left: 210px;
  }

  to {
    left: 0px;
  }
}

@keyframes animBlock {
  from {
    left: 210px;
  }

  to {
    left: 0px;
  }
}

@-webkit-keyframes pulse {
  0% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(8, 89, 46, 0.5);
    position: relative;
    top: 10px;
    left: 10px;
  }

  100% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transform: scale(3);
            transform: scale(3);
    top: 10px;
    left: 10px;
  }
}

@keyframes pulse {
  0% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(8, 89, 46, 0.5);
    position: relative;
    top: 10px;
    left: 10px;
  }

  100% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transform: scale(3);
            transform: scale(3);
    top: 10px;
    left: 10px;
  }
}

.arrow {
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: 15px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  position: relative;
  top: -20px;
  left: 20px;
}

.paragraph {
  margin-top: 4%;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.block-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 400px;
  width: 100%;
  background: rgba(112, 178, 195, 0.2);
  min-height: 100vh;
  height: auto;
  white-space: normal;
}

.instruction-ru {
  position: relative;
  margin-top: 40px;
}

.link-down-page-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  margin-top: 100px;
}

.block-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-roulette {
  width: 100%;
  height: auto;
  position: relative;
  top: 400px;
  background: #08592E;
  min-height: 100vh;
}

.circle-yes {
  width: 300px;
  height: 300px;
  background: #97184D;
  border-radius: 50%;
  color: #E1AA10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 40%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.coin {
  position: relative;
  -webkit-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  top: 120px;
  font-size: 1em;
}

.coin.active {
  top: 0;
}

.circle-no {
  width: 300px;
  height: 300px;
  background: #E1AA10;
  border-radius: 50%;
  color: #97184D;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: -300px;
}

a {
  color: #08592E;
  text-decoration: none;
}

body {
  background: #B383DD;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #08592E;
  font-size: 1.3em;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #B383DD;
}

::-webkit-scrollbar-thumb {
  background: #08592E;
  border: 3px solid #B383DD;
  border-radius: 10px;
}

.section {
  background: #B383DD;
  width: 100%;
  height: 100px;
  margin: auto;
  position: fixed;
  z-index: 2;
}

.section .menu-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.section .menu-nav button {
  font-size: 0.9em;
  color: #08592E;
}

.p {
  left: 300px;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 1300px;
}

@media screen and (max-width: 1040px) {
  .block-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .hello-en,
  .hello-ru {
    font-size: 6em;
  }

  .hello {
    font-size: 6em;
  }
}

@media screen and (max-width: 778px) {
  .circle-no {
    width: 200px;
    height: 200px;
    font-size: 2em;
    top: -200px;
  }

  .circle-yes {
    width: 200px;
    height: 200px;
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .hello {
    font-size: 6em;
  }

  .block-paragraph {
    text-align: center;
    font-size: 0.7em;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    left: -50px;
    position: relative;
    top: 50px;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }

  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .menu-btn span::before {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  .menu-btn span::after {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }

  .menu-btn.active span::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-btn.active span::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-btn.active span {
    height: 0;
  }

  .menu-btn.active span::before,
  .menu-btn.active span::after {
    background: #B383DD;
    z-index: 3;
  }

  .menu-nav button {
    display: none;
  }

  .menu-nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background: #08592E;
    height: 100vh;
    top: -50px;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }

  .menu-nav.active button {
    display: inherit;
    color: #B383DD;
    position: inherit;
    margin-bottom: 50px;
    z-index: 3;
  }
}

@media screen and (max-width: 425px) {
  .paragraph {
    font-size: 1.6em;
  }

  .menu-btn {
    left: -20px;
  }
}